---
layout: page
tagline: 
---
{% include JB/setup %}
<div>
  	<ul class="post_ul">
	  {% for post in paginator.posts %}
    	<li><a href="{{ post.url}}" title="{{ post.title }}">{{ post.title | truncatewords:10 }}</a><span>{{ post.date | date:"%Y-%m-%d" }}</span></li>{% endfor %}
	</ul>
</div>
<div>
	<ul class="page_ul">
		{% if paginator.previous_page %}
        <li class="prev"><a href='{% if paginator.previous_page > 1 %}/page{{ paginator.previous_page}}{% else %}/{% endif %}'>&larr; Previous</a></li>
		{% endif %}
        {% if paginator.next_page %}
        <li class="next"><a href='/page{{ paginator.next_page }}'>Next &rarr;</a></li>
		{% endif %}
	</ul>
</div>
<style type="text/css">
	.post_ul li span{padding-right:420px;float:right;}
    .page_ul {list-style:none; margin:0px; padding:0px; text-align:center;}  
    .page_ul li {display:inline;margin: 0px 1px 1px 0px;}  
</style>  
 


